<div class="row">
    <div class="col-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Menu
                </li>
                <li class="breadcrumb-item">
                    {{ navegationBar.entity }}
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ navegationBar.navegationTitle }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-md-8"></div>
</div>


