<div class="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center"> {{titlePage}} </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Ecommerce
                        </li>
                        <li class="breadcrumb-item">
                            Empresa
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{titleBarNavegation}}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-8"></div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" routerLink="/category">List</button>
                <button type="button" class="btn btn-primary" routerLink="/category/form">Add</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="category">Category</label>
                        <input type="text" name="category" id="category" class="form-control" placeholder="Enter category name"
                            required [(ngModel)]="cat.category">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control" rows="3" required [(ngModel)]="cat.description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="status" class="form-control" required [(ngModel)]="cat.status">
                            <option value="1">Active</option>
                            <option value="0">Deactive</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary" (click)="save(this.cat)"> Submit </button>

                </form>
            </div>
            <div class="col-md-2"></div>
        </div> -->

    </div>
</div>