<div class="content">
    <div class="container">


        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align: center">{{titlePage}}</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            Ecommerce
                        </li>
                        <li class="breadcrumb-item">
                            Category
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">List</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-8"></div>
        </div>


        <!-- <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger" routerLink="/category">List</button>
                <button type="button" class="btn btn-primary" routerLink="/category/form">Add</button>
                Rows {{countJson}}
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#Sl</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of categoryList; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{obj.name}}</td>
                                <td>{{obj.description}}</td>
                                <td>
                                    <span *ngIf="obj.status==1" class="badge badge-success">Active</span>
                                    <span *ngIf="obj.status==0" class="badge badge-danger">Inactive</span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="delete(obj.id, obj.name)"> Delete </button> 

                                    <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/category/form', obj.id]"> Edit </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->

        
    </div>
</div>